<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<h3>Pokemons</h3>
<% @pokemons.each do |pokemon| %>
<br>
	<% if pokemon.health > 0 %>
		Name: <%= pokemon.name %>
		| Level: <%= pokemon.level %> 
		| Health: <%= pokemon.health %>
		<%= button_to "Damage!", damage_path(id: pokemon.id), :class => "button medium", :method => :patch %>
	<%end%>
	<% if current_trainer.id == @trainer.id %>
		<% if pokemon.health <= 0 %>
			Name: <%= pokemon.name %>
			| Level: <%= pokemon.level %> 
			| Health: <%= pokemon.health %>
			<%= button_to "Damage!", damage_path(id: pokemon.id), :class => "button medium", :method => :patch %>
		<%end%>
		<%= button_to "Heal!", heal_path(id: pokemon.id), :class => "button medium", :method => :patch %>
	<%end%>
</br>
<%end%>

<% if current_trainer.id == @trainer.id %>
	<%= button_to "Create a New Pokemon", new_pokemon_path, :class => "button medium", :method => :get %>
<%end%>