<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<h3>Pokemons</h3>
<% @pokemons.each do |pokemon| %>
<br>
	Name: <%= pokemon.name %>
	| Level: <%= pokemon.level %> 
	| Health: <%= pokemon.health %>
	<%= button_to "Damage!", damage_path(id: pokemon.id), :class => "button medium", :method => :patch %>
</br>
<%end%>
